

.slideCvr > a { color: #000; }
.slideCvr { margin: 0; width: 100%; clear: both; float: left; padding: 92px 0 0; }
 .slideCvr::after, .content-slider::after {
 clear: both;
 content: "";
 display: block;
}
.lSSlideOuter { overflow: hidden; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.lightSlider:before, .lightSlider:after { content: " "; display: table; }
.lightSlider { overflow: hidden; }
.lSSlideWrapper { max-width: 100%; overflow: hidden; position: relative; }
.lSSlideWrapper > .lightSlider:after { clear: both; }
.lSSlideWrapper .lSSlide { -webkit-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px); -webkit-transition: all 1s; -webkit-transition-property: -webkit-transform, height; -moz-transition-property: -moz-transform, height; transition-property: transform, height; -webkit-transition-duration: inherit; transition-duration: inherit; -webkit-transition-timing-function: inherit; transition-timing-function: inherit; }
.lSSlideWrapper .lSFade { position: relative; }
.lSSlideWrapper .lSFade > * { position: absolute !important; top: 0; left: 0; z-index: 9; margin-right: 0; width: 100%; }
.lSSlideWrapper.usingCss .lSFade > * { opacity: 0; -webkit-transition-delay: 0s; transition-delay: 0s; -webkit-transition-duration: inherit; transition-duration: inherit; -webkit-transition-property: opacity; transition-property: opacity; -webkit-transition-timing-function: inherit; transition-timing-function: inherit; }
.lSSlideWrapper .lSFade > *.active { z-index: 10; }
.lSSlideWrapper.usingCss .lSFade > *.active { opacity: 1; }
/** /!!! End of core css Should not edit !!!/**/















/* Pager */






.whyChSlider .lSSlideOuter .lSPager.lSpg > li:hover a, .whyChSlider .lSSlideOuter .lSPager.lSpg > li.active a {background-color: #97ca41;}
.whyChSlider .lSSlideOuter .lSPager.lSpg > li a { width: 20px; height: 10px;border: none;background-color: #fff;}
.lSSlideOuter .lSPager.lSpg { margin: 10px 0 0; padding: 0; text-align: center; position:relative; }
.lSSlideOuter .lSPager.lSpg > li { cursor: pointer; display: inline-block; padding: 0 2px; }
.lSSlideOuter .lSPager.lSpg > li a { border: 0px solid #000; background-color: #1c1c1c; border-radius: 30px; display: inline-block; height: 10px; overflow: hidden; text-indent: -999em; width: 20px; position: relative; z-index: 99; -webkit-transition: all 0.5s linear 0s; transition: all 0.5s linear 0s; }
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a { background-color: #97ca41; }
.lSSlideOuter .media { opacity: 0.8; }
.lSSlideOuter .media.active { opacity: 1; }
/* End of pager */















/** Gallery */







.lSSlideOuter .lSPager.lSGallery { list-style: none outside none; padding-left: 0; margin: 0; overflow: hidden; -moz-transform: translate3d(0px, 0px, 0px); -ms-transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -o-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.lSSlideOuter .lSPager.lSGallery li { opacity: 0.7; overflow: hidden; -webkit-transition: opacity 0.35s linear 0s; transition: opacity 0.35s linear 0s; }
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover { opacity: 1; }
.lSSlideOuter .lSPager.lSGallery img { display: block; height: auto; max-width: 100%; }
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after { content: " "; display: table; }
.lSSlideOuter .lSPager.lSGallery:after { clear: both; }
/* End of Gallery*/



/* slider actions */



.lSAction > a { width: 32px; display: block; top: 50%; height: 32px; /*background-image: url('images/controls.png');*/ cursor: pointer; position: absolute; z-index: 9999; margin-top: -16px; opacity: 0.5; -webkit-transition: opacity 0.35s linear 0s; transition: opacity 0.35s linear 0s; }
.lSAction > a:hover { opacity: 1; }
.lSAction > .lSPrev { background-position: 0 0; left: 10px; }
.lSAction > .lSNext { background-position: -32px 0; right: 10px; }
.lSAction > a.disabled { pointer-events: none; }
.cS-hidden { height: 1px; opacity: 0; filter: alpha(opacity=0); overflow: hidden; }
/* vertical */







.lSSlideOuter.vertical { position: relative; }
.lSSlideOuter.vertical.noPager { padding-right: 0px !important; }
.lSSlideOuter.vertical .lSGallery { position: absolute !important; right: 0; top: 0; }
.lSSlideOuter.vertical .lightSlider > * { width: 100% !important; max-width: none !important; }
/* vertical */



/* Rtl */







.lSSlideOuter.lSrtl { direction: rtl; }
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager { padding-left: 0; list-style: none outside none; }
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager { padding-right: 0; }
.lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li { float: left; }
.lSSlideOuter.lSrtl .lightSlider > *, .lSSlideOuter.lSrtl .lSGallery li { float: right !important; }







/* Rtl */















@-webkit-keyframes rightEnd { 0% {
 left: 0;
}
 50% {
 left: -15px;
}
 100% {
 left: 0;
}
}
 @keyframes rightEnd { 0% {
 left: 0;
}
 50% {
 left: -15px;
}
 100% {
 left: 0;
}
}
 @-webkit-keyframes topEnd { 0% {
 top: 0;
}
 50% {
 top: -15px;
}
 100% {
 top: 0;
}
}
 @keyframes topEnd { 0% {
 top: 0;
}
 50% {
 top: -15px;
}
 100% {
 top: 0;
}
}
 @-webkit-keyframes leftEnd { 0% {
 left: 0;
}
 50% {
 left: 15px;
}
 100% {
 left: 0;
}
}
 @keyframes leftEnd { 0% {
 left: 0;
}
 50% {
 left: 15px;
}
 100% {
 left: 0;
}
}
 @-webkit-keyframes bottomEnd { 0% {
 bottom: 0;
}
 50% {
 bottom: -15px;
}
 100% {
 bottom: 0;
}
}
 @keyframes bottomEnd { 0% {
 bottom: 0;
}
 50% {
 bottom: -15px;
}
 100% {
 bottom: 0;
}
}
/*========= added css ====================*/

.contentarea { width: 50%; float: left; padding-right: 20px; }
.contentarea p { line-height:30px; margin:0px; margin-bottom:15px; }
.imgarea { }
.fullWdth { width:100%; float:left; }
.lSSlideOuter .rightEnd { -webkit-animation: rightEnd 0.3s; animation: rightEnd 0.3s; position: relative; }
.lSSlideOuter .leftEnd { -webkit-animation: leftEnd 0.3s; animation: leftEnd 0.3s; position: relative; }
.lSSlideOuter.vertical .rightEnd { -webkit-animation: topEnd 0.3s; animation: topEnd 0.3s; position: relative; }
.lSSlideOuter.vertical .leftEnd { -webkit-animation: bottomEnd 0.3s; animation: bottomEnd 0.3s; position: relative; }
.lSSlideOuter.lSrtl .rightEnd { -webkit-animation: leftEnd 0.3s; animation: leftEnd 0.3s; position: relative; }
.lSSlideOuter.lSrtl .leftEnd { -webkit-animation: rightEnd 0.3s; animation: rightEnd 0.3s; position: relative; }