.galCvr{
    position: relative;




        .galLink{

    
           
            position: absolute !important;
            z-index: 222 !important;
            content: "";
            right: 86px !important;
            top: 8px !important;
            background-color: #ffff !important;
            color: red !important;
       
    }}