@import "reset";
@import "menu";
@import "custom";
@import "lightslider";
@import "lightgallery";
@import "font-awesome";
.aniPos .menu ul ul {
    top: 0 !important;
}
.hmeSpn{
    display: none;
}
header{
    div, a, ul, span, img, small, li{
      -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
    }
  }

.mobtxt{
    width: 0;
    overflow: hidden;
    opacity: 0;
    height: 0;
}
.aniPos .mobtxt{
    
    display: inline-block;
    float: left;
    width: 178px;
    opacity: 1;
    height: auto;
    img{
        width: 80%;
        padding-top: 4px;
    }
    
}
.footbx1{
    .ftrLgo{
        img{
            width: 55%;
        }
    }

 p a{
    color: $black;
    text-decoration: none;
    font-weight: inherit;
    font-size: inherit;
    display: inline-block;
    line-height: inherit;
    br{
        display: none;
    }
}}
header .logoText {
    display: none;
}
.aniPos .logoText{
    display: inline-block;
}
header{
    background:$black !important;
}
.aniPos{
    background-color:$black !important;
}
.aniPos .menu span.has-subnav {
    width: 20px;
    height: 6px;
    top: 28px;
}
.aniPos nav>ul>li {
    margin: 0 13px;
}
.aniPos .menu ul ul {
    top:48px !important;
}
.innerpage .yu:after{
    display:none;
}
header{width: 100%; float: left; background: $black;
    a.hmTel{color:$black; font-family: $palanquin-Bd; font-size: 20px;   background: url(../images/calltop.png) no-repeat left 15px center $orange ;border-radius: 13px;
        padding: 4px 25px 11px 42px;float: left;margin-right:5px;line-height: 20px;margin-top: 7px;border: 1px solid $orange;
    &:hover{background: url(../images/call.png) no-repeat left 15px center; color: $white; background-color: transparent; border: 1px solid #fff;}
    }
    .hmgetq{background: url(../images/arrowh.png) no-repeat right 16px center #1d99f9;
        color: #fff;
        font-size: 20px;
        line-height: 20px !important;
        border-radius: 15px;
        border: 1px solid #1d99f9;
        padding: 7px 42px 8px 14px;
        display: block;
        float: right;
        font-family: "palanquinbold";
        height: auto;
        margin-top: 7px;
        &:hover{background: url(../images/arrowh.png) no-repeat right 16px center; border: 1px solid $white;}
    }
}
header.smaller {
    position: fixed;
    z-index: 100;
}
.sec1{background: url(../images/banner.jpg) no-repeat top center; height: 397px;  width: 100%; float: left;
    .logoText{    float: left;font-size: 30px;font-family: $palanquin-Bd; width: 100%; color: $black; cursor: pointer;     margin-top: 30px;
    span{color: $orange;font-size: 30px;font-family: $palanquin-Bd;}
  
    }
    h1 {
        font-size: 62px;float: left; width: 100%;
        line-height: 60px;    margin-top:68px;font-family: $palanquin-Bd;
    }
    a{background: url(../images/arrowh.png) no-repeat  right 16px center #1d99f9;color: $white; font-family: $palanquin-Bd; font-size: 22px; padding: 0 42px 5px 27px;border-radius: 15px; border: 1px solid #1d99f9;
        float: left;
        line-height: normal;
    &:hover{background:url(../images/arrowh.png) no-repeat  right 16px center #85bd33; color: $white;font-size: 22px; border: 1px solid $white;padding: 0 42px 2px 27px;}
    }
}
.txt{
    .logoText{

 
    a{
        background: none;
        color: none;
        background-image: none;
        border: none;
        padding: 0 !important;
        &:hover{
            background: none;
            color: none;
            background-image: none;
            border: none;
        
            font-size: inherit;
            float: none;
        }
    }   }
}

.sec2{width: 100%; float: left; background: $black; padding: 15px 0px;
ul{margin: 0px; padding: 0px; list-style: none; text-align: left;
li{display: inline-block; color: $white; background: url(../images/tick.png) no-repeat left center;font-family: $palanquin-Bd; font-size: 21px; padding-left: 35px; margin-right: 35px;
&:last-child{margin-right: 0px;}
&:hover{color: $orange;}
}
}
}
.sec3{width: 100%; float: left;  padding: 70px 0px;
h2{ font-size: 40px;font-family: $palanquin-Bd; position: relative;
&:after{width: 120px; height: 5px; background: $orange; left: 0px; bottom: -17px; position: absolute; content: '';}
}
p{margin-top: 16px; line-height: 27px;width: 100%; float: left; }
.hoemFbox {
    -webkit-box-shadow: 0px 2px 12px 0px rgba(186,182,186,1);
-moz-box-shadow: 0px 2px 12px 0px rgba(186,182,186,1);
box-shadow: 0px 2px 12px 0px rgba(186,182,186,1);
    width: 23.7%; margin-top: 20px;
    float: left;border-radius: 10px;
    overflow: hidden;
    border: 1px solid #dfdfdf;margin-right: 1.65%;
    h3 {
        font-size: 17px;
        line-height: 21px;
        text-align: center; font-family: $palanquin-Rg;    background:$white; padding: 10px 10px; margin-bottom: 0px;
    }
    &:last-child{margin-right: 0px;}
}
}
.sec4{width: 100%; float: left; background: #f7f8fa;    padding: 20px 0px 0px 0px;
    .co4Left {  width: 41%;float: left;    margin-top: 40px;
        h2{ font-size: 40px;font-family: $palanquin-Bd; position: relative;
            &:after{width: 120px; height: 5px; background: $orange; left: 0px; bottom: -17px; position: absolute; content: '';}
            }
            p{margin-top: 16px; line-height: 27px;width: 100%; float: left; }
            a{background: url(../images/arrowh.png) no-repeat  right 16px center #1d99f9;color: $white; font-family: $palanquin-Bd; font-size: 22px; padding: 0 42px 5px 27px;border-radius: 15px;
                float: left;
                line-height: normal;
            &:hover{background:url(../images/arrowh.png) no-repeat  right 16px center #85bd33; color: $white;font-size: 22px; border: 1px solid $white;padding: 0 42px 2px 27px;}
            }
    }
    .co4Right {
        width: 52%;
        float: right;
        img{
            margin-top: -20px;
        }
    }
}
.sec5{width: 100%; float: left; padding: 20px 0px 0px 0px;
   
    .secFRight {width: 45%;float: right;
        h3{ font-size: 40px;font-family: $palanquin-Bd; position: relative;    margin-top: 33px;
            &:after{width: 120px; height: 5px; background: $orange; left: 0px; bottom: -17px; position: absolute; content: '';}
            }
            .shadeBox{background: $white; border-radius:30px; float:left; padding: 20px;-webkit-box-shadow: 0px 0px 17px -2px rgba(155,154,154,1);
                -moz-box-shadow: 0px 0px 17px -2px rgba(155,154,154,1);
                box-shadow: 0px 0px 17px -2px rgba(155,154,154,1);    margin-top: 30px; 
            p{margin-top: 16px; line-height: 23px;width: 100%; float: left;  margin-bottom: 10px;
            span{color: $orange; font-family: $palanquin-Bd;line-height: 23px;}
            }}
    }
    .secTestmonial{
        h2{
            text-align: center;
            font-size: 42px;
            padding-bottom: 0px;
            padding-top: 70px;
        }
        .testSubhead {
            text-align: center;
            font-size: 27px;
            position: relative;
            &:after {
                width: 120px;
                height: 5px;
                background: #f60;
                left:45%;
                bottom: -17px;
                position: absolute;
                content: '';
            }
        }
        .testCovr {
            padding-top: 70px;
            li {
                width:50%;
                font-size: 18px;
                float: left;
                padding-top: 0;
                padding-right: 27px;
                margin-bottom: 40px;
                text-align: justify;
                small{
                    width: 100%;
                    float: left;
                    padding-bottom: 20px;
                }
            }
        }
    }
}
.sec6{width: 100%; float: left;background: #f6f7f9;
    .clCont{float: left;font-size: 30px;font-family: $palanquin-Bd;margin-top: 52px;}
    .clitS{
        img{
            max-height: 126px;
            padding: 2px 0;
        }
        float: right;}
}
footer{background: $orange; float: left;width: 100%; padding: 30px 0px;
    .footbx1{ width: 23%;  margin-right: 2%;
        h3{color: $white; font-size: 28px;line-height: 33px;}
        p{color: $black; font-size: 15px; margin-top: 30px; line-height: 25px;
        a{
            &:hover{
                color: $white;
            }
        }
        }
    }
    .footbx2{width: 21%; margin-right: 2%;
        p{color: $black; font-size: 17px;line-height: 20px; margin-bottom: 10px;
        span{font-family: $palanquin-Bd; color: $black;}
        &:hover{
           
        }
        a{
            color: $black;
            font-size: 19px;
            line-height: 17px;
            &:hover{
                color:$white;
            }
        }
        }
    }
    .footbx3{width: 11%; margin-right: 2%;
        h4{color: $black; font-size: 17px;margin-bottom: 0px;  line-height: 33px;  padding-bottom: 0px;}
        p{color: $black; font-size: 15px; margin-bottom: 0px;
        a{color: $black; text-decoration: none;
        &:hover{
            color: $white;
        }
        }
        }
    }
    .footbx4{
        h4{color: $black; font-size: 17px;margin-bottom: 0px;  line-height: 33px;  padding-bottom: 0px;}
        img{
            &:hover{
                opacity: 0.7;
            }
        }
      
    }

    .footbx5{    width: 20%;
        h4{color: $black; font-size: 17px;margin-bottom: 0px;  line-height: 33px;  padding-bottom: 0px;}
        img{
            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
        }
      
    }
    
}

.innerpage {width: 100%; float: left;
   
    min-height: 750px;
    padding-bottom: 70px;
   
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
.innerbanner { background:#efefef; margin-bottom: 30px;    padding: 30px 0px 20px 0px;
h1{position: relative;
&:after{content: "";
    height: 2px;
    width: 100px;
    background:#f60;
    position: absolute;
    bottom: -6px; left: 0px;}
}
}
.contLft{width: 100%; float: left;
.innerCvr{width: 100%; float: left;}
}
h2, h3, h4, h5, h6 {
    text-transform: none;
    clear: both;
    margin-bottom: 22px;display: block; font-size: 28px; position: relative;
    &:after{content: "";
        height: 2px;
        width: 100px;
        background:#f60;
        position: absolute;
        bottom: -6px; left: 0px;
    }
}
span.oreBld{color: $orange; font-family: $palanquin-Bd;}
.contctFull {  width: 100%; float: left;
.contaLeft{width: 30%; float: left;
    .contactIco { margin-bottom: 15px; background: url(../images/calc.png) no-repeat left center; padding-left: 40px;
    }
    .mailIco{background: url(../images/mailc.png) no-repeat left center;}
    .addreIco{background: url(../images/contc.png) no-repeat left center;}
    .conimg{width: 100%; float: left; margin-top: 10px;}
}
.contaRight { width: 62%;float: right;
ul{
    li{ width: 48%; float: left;margin-bottom: 15px; position: relative;
    &:nth-child(even){float: right;}
    &:last-child{width: 100%;}
    input{ width: 100%; float: left; border: 1px solid #dedede; }
    label {
        width: 100%;
        float: left;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
    }
    select.input {
        font-size: 13px;
    }
    
    .error{
        position: absolute;
        content: "";
        top: 43%;
        right: 0;
        line-height: 29px;
        z-index: 11;
        padding: 5px 14px;
        left: 0px;
        font-size: 14px;
        background: $white;
        color: $red;
        border: 1px solid $red;
        width: 100%;
    } 
 
    
}
li.upldFile {
    width: 100%;
}
}
input.subbtn {
    width: auto;
    background-color: #1d99f9;
    color:$white;
    &:hover{
        background-color: #85bd33;
        border: none;
    }
}
}
}
.tempclass{max-width: 500px; width: 100%; margin-bottom: 20px;
tr{border: 1px solid $orange; 
    td{padding: 5px 20px; border: 1px solid #d8d8d8;
        &:first-child{font-family: $palanquin-Bd; text-transform: uppercase;}
        &:last-child{background:#1d99f9; color: $white; text-align: center;
            &:hover{background:#85bd33;}
        a{color: $white; display: block;}
        }
    }
}
}
.quote{
    ul{
        li{width: 31%; float: left;margin-bottom: 15px; margin-right: 3%; position: relative;
        &:nth-child(3n){margin-right: 0px;}
        
        input{width: 100%; float: left; border: 1px solid #dedede;
          
        
        }
        label {
            width: 100%;
            float: left;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 600;
            span{font-size: 12px; text-transform: capitalize;}
        }
        select.input {
            font-size: 13px;
        }
        span{
            input{width: auto; float: inherit;}
        }
        em.starR {
            color: #f00;
            position: absolute;
            right: 0px;
            top: 0px;
            font-weight: 900;
        }  
        .error{
            position: absolute;
            content: "";
            top: 43%;
            right: 0;
            line-height: 29px;
            z-index: 11;
            padding: 5px 14px;
            left: 0px;
            font-size: 14px;
            background: $white;
            color: $red;
            border: 1px solid $red;
            width: 100%;
        }   
    }
    }
    input.subbtn {
        width: auto;
    }
    .checkfield{width: 100%; float: left; background: #f1f1f1;
        padding: 10px;
        margin-bottom: 15px;}
.btnsTwo{width: 100%; float: left; text-align: center;
    input.subbtn{display: inline-block;
    &:nth-child(2){background:#85bd33 url(../images/submit-arrow.png) no-repeat 84% 50%;  color: $white;     height: 43px;
        padding: 6px 46px 3px 29px;
        border-radius: 6px;
        font-size: 16px;
        outline: none;
        vertical-align: top;
        text-transform: uppercase;
        cursor: pointer;
        line-height: 18px;
        font-weight: 600;
    &:hover{background:#1d99f9 url(../images/submit-arrow.png) no-repeat 84% 50%;}
    }
    }
}
}
.specsTable{max-width: 550px; width: 100%; float: left; border: 1px solid #000;
tr{
    td{border: 1px solid #e2dedb; padding: 4px; text-align: center}
    th{background: $orange; color: $white; text-align: center;border: 1px solid #f3904d;}
    &:nth-child(even){background:#fde9dc;}
}
}
.rightDiv {
    float: left;
    padding-left: 3%;
}

.marbt20{margin-bottom: 20px;}
.galleryMain{width: 100%; float: left;    border-bottom: 1px solid #dcdcdc;
.galleryLeft{width: 30%; float: left;}
.galleryRight{width: 67%; float: right;padding-top: 32px;
    p{margin-bottom: 10px;}
a.galink{ color: $white;    padding: 5px 32px 5px 20px;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    background: #1d99f9 url(../images/submit-arrow.png) no-repeat 90% 50%;
&:hover{ background: #85bd33 url(../images/submit-arrow.png) no-repeat 90% 50%;}
}
.glryTitl{
    margin-bottom: 22px;
    display: block;
    font-size: 28px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    &:after{
        content: "";
        height: 2px;
        width: 100px;
        background: #f60;
        position: absolute;
        bottom: -6px;
        left: 0px;
    }
}
}
&:nth-child(2n) .galleryLeft{float: right;}
&:nth-child(2n) .galleryRight{float: left;}
}
}
.gallerDiv{width: 100%; float: left;
.galdivBx {
    width: 15%;
    float: left;
    margin-right: 1.6%; margin-bottom: 15px;
    min-height: 90px;
    img{width: 100%; float: left;}
    .hocEff{width:100%;
        float:left;
        position:relative;
        overflow:hidden;
    &:after {
        background:#FFF;
       width: 100%;
       height: 100%;
       position: absolute;
       left: 0;
       bottom: 0;
       content: '';
       opacity: 0.7;
       -webkit-transform: skew(45deg) scaleX(0);
       -ms-transform: skew(45deg) scaleX(0);
       transform: skew(45deg) scaleX(0);
       -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
       -webkit-transition: all 0.3s ease-in-out;
       transition: all 0.3s ease-in-out;
     }
     &:hover:after{
        -webkit-transform: skew(45deg) scaleX(1);
        -ms-transform: skew(45deg) scaleX(1);
        transform: skew(45deg) scaleX(1);
        -moz-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
       
          opacity: 0.1;
     }
    }
}
.maill{
    
    text-align: center;

}

}


.mobBtns{
    display: none;
}
.innerCvr hr {
    margin-bottom: 39px;
}




@media only screen and (max-width: 767px) and (min-width: 480px){


 header, .aniPos {
    position: initial !important;
}
}
@media screen and (max-width: 1230px) {
    .listng.fourCol, .listing.fourCol{
      li{width: 33.33%;float: left;}
    }
  .wid{max-width:1125px;padding:0 15px;}
  h2, h3, h4, h5, h6 {font-size: 34px;}
  h2.hdngLft {
      text-align: left;
      &:before{margin-left: 0;left: 0;}
  }
  .sec2{
      ul{
          li{
            font-size: 20px;
            padding-left: 33px;
            margin-right: 22px;
          }
      }
  }
  .sec6{
      .clCont{
        float: inherit;
        text-align: center;
      }
      .clitS {
        float: inherit;
        text-align: center;
    }
  }
  .innerpage .galleryMain .galleryRight a.galink {
    text-decoration: none;
    margin-bottom: 30px;
  }
  .aniPos nav>ul>li {
    margin: 0 9px;
}
  
  }
  @media screen and (max-width: 1184px) {
  .wid {
    max-width: 1045px;
    padding: 0 15px;
  }
  .sec1{

   h1 {
    font-size: 58px;
  }
}
.sec2{
    ul{

   
    li{
        font-size: 18px;
    }
}
}
.sec4 .co4Left {
    width: 41%;
    float: left;
    margin-top: 30px;
}
.sec5 .secFRight h3 {
    margin-top: 10px;
}
.innerpage .quote ul li label {
    width: 100%;
    float: left;
    font-size: 12px;
}
.aniPos nav>ul>li {
    margin: 0 3px;
}
}
@media screen and (max-width: 1090px) {
    .sec3 .hoemFbox h3 {
        min-height: 75px;
    }
    .wid {max-width: 980px;}
    .readmore {
      font-size: 20px;
      line-height: 22px;
      background-size: 13px !important;
  }
  .sec1 h1 {
      margin-top: 70px;
      font-size: 57px;
  }
  .sec2 ul li {
    font-size: 16px;
    padding-left: 30px;
    margin-right: 20px;
}
.sec3 {
    padding: 50px 0px;
}
.sec3 h2 {
    font-size: 36px;
}
.sec4 .co4Left h2 {
    font-size: 36px;
    line-height: 25px;
}
.sec4 .co4Left {
    margin-top: 10px;
}
.sec4 .co4Left p {
    margin-top: 14px;
    line-height: 24px;
}
.sec5 .secFLeft {
    width: 42%;
}
.sec5 .secFRight {
    width: 49%;
}

.sec6 .clCont {
    margin-top: 30px;
}
footer .footbx1 h3 {
    line-height: 30px;
}
footer .footbx1 {
    width: 24%;
}
footer .footbx1 p {
    
    font-size: 14px;
}
footer .footbx2 p {
    
    font-size: 15px
}
footer .footbx3 p a {
   cursor: pointer;
    font-size: 15px;
}
footer .footbx5 {
    width: 19%;
}
.innerpage .quote ul li label span {
    font-size: 10px;
}

header .hmgetq {font-size: 15px;}
header a.hmTel {font-size: 15px; padding: 7px 25px 8px 42px;}

  }
  @media screen and (max-width: 1023px) {
    
    .wid {
      max-width: 930px;
    }
    .sec1 h1 {
        margin-top: 68px;
        font-size: 55px;
    }
    .innerpage .quote ul li label span {
        font-size: 8px;
    }
    .aniPos .mobtxt {
        width: 170px;
    }
    }

    
@media screen and (max-width: 995px) {
    .wid {
      max-width: 839px;
  }
    .listng.threeCol, .listing.threeCol{
    li{width: 50%;float: left;}
  }
    .innerpage h2.hdngLft {
      clear: inherit;
  }
  h2, h3, h4, h5, h6 { font-size: 28px;line-height: 38px;width: 100%;}
  .sec2 ul li {
    font-size: 15px;
    padding-left: 26px;
    margin-right: 10px;
}
.sec3 {
    padding: 30px 0px;
}
.sec3 h2 {
    font-size: 30px;
}
.sec4 .co4Left {
    width: 48%;
}
.sec4 .co4Right {
    width: 52%;
}
.sec4 .co4Left h2 {
    font-size: 36px;
    line-height: 20px;
}
.sec5 .secFRight h3 {
    font-size: 35px;
    line-height: 15px;
}
.sec5 .secFRight .shadeBox p {
    margin-top: 5px;
    line-height: 20px;
    width: 100%;
    float: left;
    margin-bottom: 12px;
}
footer .footbx5 h4 {
    
    font-size: 16px;
}
footer .footbx4 h4 {

    font-size: 16px;
}
footer .footbx1 p {
    
    font-size: 12px;
}
.quote span{
    font-size: 15px;
}


}
  @media screen and (max-width: 874px) {
    .readmore {
        padding: 3px 35px 3px 15px;
        font-size: 13px;
        background-size: 13px !important;
    }
    header{
        padding: 10px 0;
    }
    .menuD {
        padding: 0;
        background: transparent;
        margin-top: 10px;
    }
    .mobtxt{
        color: #fff;
        font-size: 18px;
        width: 40%;
        float: left;
        display:table;
        text-align: left;
        
       
        cursor: pointer;
        
    
    }
    header a.hmTel {
        margin-top: 0;
        font-size: 19px !important;
        padding: 10px 18px 10px 43px !important;
    }
    header .flt-right {
        float: right;
        margin-right: 13px;
    }
    .sec2 ul li {
        font-size: 13px;
    }
    .sec1 .logoText {
        display:none;
    }
    header .flt-left {
    float: right;
}
    .menu {
        top: 57px;
        text-align:left;
    }
    .sec1 h1 {
        margin-top: 60px;
        font-size: 50px;
    }
    .sec4 .co4Left a {
        margin-bottom: 17px;
        font-size: 20px;
    padding: 0 40px 5px 25px;
    }
    .sec4 .co4Left h2 {
        font-size: 30px;
        line-height: 18px;
    }
    .sec5 .secFRight h3 {
        font-size: 30px;
    }
    .sec5 .secFLeft {
        width: 46%;
    }
    .sec5 .secFRight .shadeBox {
        margin-top: 25px;
        margin-bottom: 14px;
    }
    .flt-left img {
        width: 75%;
    }
    footer .footbx5 {
        width: 17%;
    }
    footer .footbx1 h3 {
       
        font-size: 25px;
    }
    footer .footbx1 p {
        margin-top: 20px;
        font-size: 11px;
    }
    footer .footbx2 p {
        
        font-size: 12px;
    }
    footer .footbx3 p a {
        
        font-size: 13px;
    }
    footer .footbx3 h4 {
       
        font-size: 16px;
    }
    footer .footbx4 h4 {
     
        font-size: 14px;
    }
    footer .footbx5 h4 {
       
        font-size: 14px;
    }
    .innerpage h2, .innerpage h3, .innerpage h4, .innerpage h5, .innerpage h6 {
        font-size: 26px;
    }
    .quote span {
        width: 100% !important;
        font-size: 14px;
        display: inline-block;
      
    }
    .innerpage .quote ul li label span {
        font-size: 7px;
    }
    .innerpage .quote ul li label {
        width: 100%;
        float: left;
        font-size: 10px;
    }
    .innerpage .quote input.subbtn {
        width: auto;
        margin-bottom: 15px;
        font-size: 15px;
    }
    input[type="text"], input[type="tel"], input[type="phone"], input[type="email"], select {
        font-size: 14px;
    }
    .innerpage .contctFull .contaRight input.subbtn {
        width: auto;
        margin-bottom: 15px;
    }

    .gallerDiv .galdivBx {
        width: 23%;
        float: left;
    }
    .aniPos ul.sub-menu a {
        font-size: 12px !important;
        text-transform: capitalize;
    }
    .sub-menu li a {
        border-bottom: 1px solid #020202 !important;
        font-size: 14px !important;
        
    }
    .mobtxt {
        padding-top: 0;
    }
   
    
.mobtxt img{
    width: 46%;
}
header .hmgetq {
    font-size: 15px;
    height: 42px;
    margin-top: 0px;
}
.mobtxt {
    opacity: 1;
}
    }

    
@media screen and (max-width: 767px) {
    
    .page_25 h2 {
        margin-top: 23px;
    }
    .sitemap ul li a {
        border-bottom: 0 !important;
    }
    .page_25.innerpage .contLft {
        padding-bottom: 30px;
    }
   
    .sec3 .hoemFbox:nth-child(3) h3{
        padding: 10px 38px;

    }
    .sec3 .hoemFbox:nth-child(4) h3{
        padding: 10px 47px;

    }
    .sec1 {
        height: auto;
    background-size: 1097px;
    text-align: center;
    padding-bottom: 239px;
    background-position: 98% bottom;
    background-color: #fff;
    }
    .aniPos {
        background-color: #fff !important;
    }
    header .flt-right {
        display: none;
    }
    header li.mobCal a.hmTel {
        background: $orange;
        padding-bottom: 0 !important;
        padding-top: 13px !important;
    }
    header li.mobQte a {background: #1d99f9;
        span{
            background-image: url(../images/arrowh.png);margin-right: 0;
            margin-left: 8px;
        }
    }
    header li.mobCal a {
        span{
            background-image: url(../images/call.png);margin-top: 0;
        }
    }
    header {
        padding: 8px 0 0;background: #fff !important;
    }
    .mobBtns{
        display: block;
            li {
            float: left;
            width: 50%;
            a {
                display: block;
                width: 100%;
                border-radius: 0;
                text-align: center;
                color: #fff;
                padding: 10px 0 !important;
                height: 51px !important;
                float: none !important;
                font-family: "palanquinbold";
                font-size: 25px !important;
                span{display: inline-block;width: 27px;height: 27px;    margin: 4px 8px 0 0;
                background-position: center center;background-repeat: no-repeat;}
            }
            }
    }
   
    .innerpage h2.hdngLft {
      clear: both;
  }
  h2, h3, h4, h5, h6 {
    font-size: 23px;
    line-height: 33px;width: 100%;
      small {
        font-family: inherit;
        font-size: 15px;
        color: #34a853;
        display: block;
        margin-top: 10px;
    }
  }
  h2.hdngLft {
      text-align: center;
      &:before{margin-left: -55px;left: 50%;}
  }
  .sec1 .logoText span {
    
    font-size: 26px;
  }
  .sec1 .logoText {
    float: left;
    font-size: 26px;
  }
  .sec1 h1 {
    margin-top: 50px;
    font-size: 37px;
    line-height: 40px;
}

.sec1 .logoText {
 
    display: none;
}
.sec1 a {
    display:none;
    font-size: 20px;
   
}
.sec1 a:hover {
    font-size: 20px;
    padding: 0 42px 5px 27px;
    line-height: normal;
}

.sec2 ul li {
    font-size: 14px !important;
    margin-right: 10px;
}
.sec3 h2 {
    text-align: center;
    font-size: 25px;
    line-height: 20px;
}
.sec3 h2:after {
    width: 83px;
    height: 4px;
    background: #f60;
    right: 40%;
    left: inherit;
    bottom: -12px;
    position: absolute;
    content: '';
}
.sec3 .hoemFbox {
    width: 48%;
}
.sec4 .co4Left {
    width: 100%;
    a{
        float: none;
        padding: 0 35px 5px 15px;
    }
    p{
        text-align: left !important;
    }
}
.sec4{
    text-align: center;
}
.sec4 .co4Left h2:after {
    width: 83px;
    height: 4px;
    background: #f60;
    right: 40%;
    left: inherit;
    bottom: -17px;
    position: absolute;
    content: '';
}
strong.ftmail {
    font-size: 20px;
    font-weight: 600;
}
.sec4 .co4Right {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    img{
        height: 210px;
    }
}
.sec5 .secFLeft {
    width: 100%;
    text-align: center;
    img{
        height: 205px;
    }
}
.sec5 .secFRight {
    width: 100%;
}
.sec5 .secFRight h3 {
    font-size: 27px;
    margin-top: 20px;
    text-align: center;
}
.sec5 .secFRight h3:after {
    width: 82px;
    height: 4px;
    background: #f60;
    right: 40% !important;
    bottom: -15px;
    position: absolute;
    content: '';
}
.sec5 .secFRight .shadeBox {
    text-align: center;
   
    border-radius: 10px;
}

footer .footbx1 h3 {
    font-size: 30px;
    line-height: 30px;
}
footer .footbx1 {
    width: 100%;
    text-align: center;
    margin-right: 0;
}
footer .footbx1 p {
    line-height: 29px;
    font-size: 20px;
    margin-top: 15px;
}
footer .footbx2 {
    width: 100%;
    text-align: center;
    margin-right: 0;
}
footer .footbx2 p span {
    font-size: 20px;
    font-weight: 600;
}
footer .footbx2 p {
    font-size: 15px;
    margin-bottom: 20px;
}
footer .footbx3 {
    width: 100%;
    margin-right: 0;
    text-align: center;
}
footer .footbx3 h4 {
    font-size: 20px;
}
footer .footbx3 p a {
    font-size: 15px;
}
.footbx4{
    display: inline-block;
    width: 40%;
    margin-left: 35px;
    margin-right: 35px;
    text-align:left;
    img{
        
        width: auto;
    }
}
footer .footbx4 h4 {
    font-size: 18px;
}
footer .footbx5 {
    display: inline-block;
    width:40%;
    text-align:left;
}
footer .footbx5 h4 {
    font-size: 18px;
    padding-top:0;
}
.flt-left {
    float:left;
}
.flt-right {
    float: left;
}
footer .footbx3 p {
   
    margin-bottom: 30px;
}
.innerpage .innerbanner {
    background: #efefef;
    margin-bottom: 10px;
    padding: 15px 0px 15px 0px;
}
.innerpage h1 {
    font-size: 35px;
    line-height: 39px;
    margin-bottom: 13px;
}
.innerCvr p{
    font-size: 16px;
    margin-bottom: 10px;
}
.innerpage h2 {
    font-size: 36px;
    line-height: 30px;
    font-size: 25px;
}
.listing li, .listng li {
    font-size: 16px;
}
.innerpage {
    padding-bottom: 0;
}
.innerpage .quote ul li {
    width: 47%;
    float: left;
    margin-bottom: 15px;
    margin-right: 3%;
}
.innerpage .quote ul li:nth-child(3n) {
    margin-right: 3%;
}
.onecol {
    width: 100% !important;
}

.innerpage .innerbanner h1:after {
    content: "";
    height: 2px;
    width: 62px;
    background: #f60;
    position: absolute;
    bottom: -6px;
    left: 4px;
}
.innerpage .galleryMain .galleryLeft {
    width: 100%;
    text-align: center;
     float:inherit; 
}
.innerpage .galleryMain .galleryRight {
    width: 100%;
    text-align: center;
     float: inherit; 
     padding-top:0; 
}
.innerpage h2:after, .innerpage h3:after, .innerpage h4:after, .innerpage h5:after, .innerpage h6:after {
    content: "";
    height: 2px;
    width:60px;
    background: #f60;
    position: absolute;
    bottom: -6px;
    right: inherit;
    left: 0;
}
.rightDiv .listing li, .listng li {
    font-size: 14px;
}
.innerpage .marbt20 {
    margin-bottom:0; 
}
.innerpage .contctFull .contaLeft {
    width: 100%;
}
.innerpage .contctFull .contaLeft .conimg {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.innerpage .contctFull .contaRight {
    width: 100%;
}
.gallerDiv .galdivBx {
    width: 31%;
}
.mobtxt a span {
    color: #f60;
    font-size: 18px;
}
.mobtxt a {
    font-size: 18px;
    display: block;
    text-align: center;
    height: 70px;
    background: url(../images/customcardlogo.png)  no-repeat center 0;
}
header .flt-left {
    margin: 15px 0 32px;
}
.mobtxt a img {
    display: none;
}
header a.hmTel {

    font-size: 18px;
    
    padding: 8px 18px 8px 43px;
}
.aniPos .menu {
    top: 58px;
}
.aniPos .menu span.has-subnav {
    width: 17px;
    height: 11px;
    top: 12px;
}
.aniPos .menu ul ul {
    top: 0px !important;
}
.sec4 .co4Right img {
   margin-top: 0;
}
.sec4 {
    
    padding: 20px 0px 0 0px;
}
.mobtxt img {
    width: 70%;
}
.aniPos .mobtxt {
    margin-left: -55px;
    width: 110px;
}
.mobtxt {
    padding-top: 3px;
    float: none;
    position: absolute;
    width: 306px;
    left: 50%;
    opacity: 1;
    height: auto;
    margin-left: -153px;
}
.menuD {
    margin-top: 11px !important;
}
.menu {
    top: 137px !important;
}
.aniPos .menu {
    top:137px !important;
}
.aniPos .mobtxt img {
    width: 64%;
    padding-top: 2px;
}

.sec3 .hoemFbox {
    width: 47%;
}
.innerpage .galleryMain .galleryRight .glryTitl:after {
    content: "";
    height: 2px;
    width: 80px;
    background: #f60;
    position: absolute;
    bottom: -6px;
    right: 41%;
    left: inherit;
}
.innerpage .galleryMain .galleryRight .glryTitl {
    
    font-size: 23px;
}
header li.mobCal a.hmTel:hover{
    background: #85bd33;
}
header li.mobQte a:hover{
    background: #85bd33;
}

  }
 @media screen and (max-width: 600px) {
    .sec1 {
        background-position: 76% bottom;
    }
    .sec5 .secTestmonial .testSubhead {
        
        font-size: 19px;
    }
    .sec5 .secTestmonial h2 {
        
        font-size: 30px;
    }
    .sec5 .secTestmonial .testSubhead:after {
        
        left: 38%;
    }
 }
  
  @media screen and (max-width: 479px) {
    .sec3 .hoemFbox h3 {
        min-height: 72px;
    }
    .menu {
        top: 124px !important;
    }
    .aniPos .menu {
        top: 124px !important;
    }
    .mobBtns li a {
        display: block;
        width: 100%;
        border-radius: 0;
        text-align: center;
        color: #fff;
        padding: 4px 0 !important;
        height: 38px !important;
        float: none !important;
        font-family: "palanquinbold";
        font-size: 17px !important;
    }
    header li.mobCal a.hmTel {
        padding-top: 7px !important;
    }
    .mobBtns li a span {
        height: 24px;
        background-size: 9px;
        margin: 4px 8px 0 0;
    }
    header li.mobCal a span {
        background-size: 14px;
    }
    .listng.threeCol, .listing.threeCol{
      li{width: 50%;float: left;}
    }
    .listng.twoCol, .listing.twoCol{
      li{width: 100%;float: left;}
    }
  .listng.fourCol, .listing.fourCol{
    li{width: 50%;float: left;}
  }
  header a.hmTel {
    color: #fff;
    font-family: "palanquinbold";
    font-size: 16px;
    padding: 4px 18px 5px 39px;
  }
  .menu.active1 {
    max-height: 328px;
    overflow: auto;
}
  .menuD{
      margin-top: 8px;
  }
  .menu {
    top: 50px;
  }
  .sec2 ul li {
    text-align: center;
    background: none;
    padding-left: 0;
      width: 100%;
    font-size: 15px !important;
  }
  .sec1 {
    a, a:hover{
        font-size: 18px;
        padding: 0 38px 5px 15px;
    }
  }
  .sec1 h1 {
    margin-top: 30px;
    font-size: 30px;
    line-height: 31px;
}
.sec1 .logoText span {
    font-size: 22px;
}
.sec1 .logoText {
    float: left;
    font-size: 22px;
}
.sec3 h2 {
    font-size: 20px;
    line-height: 10px;
}
.sec3 p {
    font-size: 13px;
}
.sec3 .hoemFbox {
  
    img{
        width: 100%;
    }
}
.sec4 .co4Left h2 {
    font-size: 24px;
    line-height: 10px;
}
.sec4 .co4Left a {
    margin-bottom: 17px;
    font-size: 17px;
    padding: 2px 35px 3px 18px;
}
.sec4 .co4Left p {
    margin-top: 13px;
    line-height: 24px;
    font-size: 13px;
}
.sec5 .secFRight h3 {
    font-size: 23px;
}
.sec5 .secFRight .shadeBox p {
    margin-top: 5px;
    font-size: 13px;
}
.sec6 .clCont {
    font-size: 25px;
    margin-top: 24px;
}
.sec5 .secFRight h3:after {
    right: 46%;
    left: inherit;
}
.sec5 .secFRight .shadeBox p span {
    
    font-size: 13px;
}
.innerpage h1 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}
.innerpage h2 {
    
    line-height: 27px;
    font-size: 22px;
}
.listing li, .listng li {
    font-size: 15px;
}
.innerpage .quote ul li {
    width: 100%;
}
.rightDiv .listing li, .listng li {
    font-size: 12px;
}
.rightDiv .listing, .listng {
    margin-bottom:0px; 
}
.innerpage .specsTable tr td {
    font-size: 14px;
}
.innerpage .specsTable tr th {
    font-size: 15px;
}
.mobtxt a span {
    color: #f60;
    font-size: 17px;
}
.mobtxt a {
    text-align: left;
    font-size: 17px;
}
header a.hmTel {
    color: #fff;
    font-family: "palanquinbold";
    font-size: 15px;
    padding: 3px 14px 4px 40px;
}
.aniPos .menu {
    top: 50px;
}
.menu li a {
    font-size: 16px;
}
.mobtxt img {
    width: 72%;
}
.mobtxt {
    padding-top: 5px;
}
.hmeSpn{
    background: url(../images/tick.png) no-repeat 33% 46%;
    display: inline-block;
    width: 37px;
    height: 34px;
    text-align: center;
}
.sec6 .clitS img {
    max-height: 88px;
}
.sec6 .clitS {
    margin-bottom: 12px;
}
.innerpage .galleryMain .galleryRight .glryTitl {
    font-size: 20px;
}
.sec3 .hoemFbox :nth-child(2){
    margin-right: 0;
}
.sec3 .hoemFbox:nth-child(4){
    margin-right: 0;
}
.sec5 .secTestmonial .testCovr li {
    width: 100%;
    font-size: 17px;
   
    padding-top: 0;
    padding-right: 0;
}
.sec5 .secTestmonial .testCovr {
    padding-top: 40px;
}
  }
  
@media screen and (max-width: 431px) {
    .mobtxt {
        width: 140px;
        margin-left: -70px;
    }
    .sec1 .logoText {
        
        font-size: 19px;
    }
    .sec1 .logoText span {
        font-size: 19px;
    }
    .sec1 h1 {
        margin-top: 15px;
        font-size: 26px;
        line-height: 28px;
    }
    .sec1 a, .sec1 a:hover {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .sec2 ul li {
        font-size: 10px;
    }
    .sec3 .hoemFbox h3 {
        padding: 10px 30px;
        font-size: 15px;
        line-height: 17px;
    }
    .sec4 .co4Left a {
        margin-bottom: 17px;
        font-size: 15px;
        padding: 2px 32px 3px 16px;
    }
    .innerpage .innerbanner h1:after {
        content: "";
        
        width: 57px;
    }
    .innerpage h1 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .innerpage .innerbanner {
        padding: 10px 0px 10px 0px;
    }
    
    .innerpage h2 {
        line-height: 25px;
        font-size: 20px;
    }
    .listing li, .listng li {
        font-size: 14px;
    }

    .innerpage .specsTable tr th {
        font-size: 14px;
    }
    .specsTable tr td span{
        font-size: 13px !important;
    }
    .rightDiv .listing li, .listng li {
        font-size: 10px;
    }
    .innerpage .contctFull .contaRight ul li {
        width: 100%;
    }
    .innerpage span.oreBld {
        
        font-size: 14px;
    }
    .gallerDiv .galdivBx {
        width: 100%;
        text-align: center;
    }
    .innerpage .tempclass tr td {
        font-size: 14px;
    }
    header a.hmTel {
        margin-top: 0;
        font-size: 17px !important;
        padding: 5px 9px 5px 31px !important;
        background: url(../images/call.png) no-repeat left 5px center;
    }
    .mobtxt a span {
      
        font-size: 14px;
    }
    .mobtxt a {
        text-align: left;
        font-size: 14px;background-size: 100%;height: 53px;
    }
    header .flt-left {
        margin: 10px 0 18px;
    }
    .mobtxt {
        width: 170px;
        margin-left: -85px;
    }
    header {
        padding: 6px 0 0;
    }
    .menuD {
        margin-top: 9px !important;
    }
    .menu {
        top: 101px !important;
    }
    .aniPos .menu {
        top: 101px !important;
    }
    footer .footbx5 {
        width: 38%;
    }
    footer .footbx5 h4 {
        font-size: 14px;
    }
    footer .footbx4 h4 {
        font-size: 14px;
    }
    .footbx4 {
        width: 38%;
    }
    .innerpage .galleryMain .galleryRight .glryTitl {
        font-size:18px;
    }
    .sec5 .secTestmonial h2 {
       
        font-size: 23px;
        margin-bottom: 0;
        padding-top: 18px;
    }
    .sec5 .secTestmonial .testSubhead {
        text-align: center;
        font-size: 16px;
    }
    .sec5 .secTestmonial .testSubhead:after {
        width: 105px;
       
        left: 33%;
        bottom: -10px;
    }
    .sec5 .secTestmonial .testCovr {
        padding-top: 25px;
    }
    .sec5 .secTestmonial .testCovr li {
        
        font-size: 15px;
       
    }
    .sec5 .secTestmonial .testCovr li small {
        font-size: 15px;
        
        padding-bottom: 15px;
    }
    .sec5 .secTestmonial .testCovr li {
        margin-bottom: 25px;
    }
    .testCovr img {
        width:50%;
    }

}
@media screen and (max-width: 359px) {
    .menu {
        top: 94px !important;
    }
    .aniPos .menu {
        top: 94px !important;
    }    
.sec2 ul li {
    font-size: 13px;
}
.sec1 .logoText {
    margin-top: 18px;
}
.sec3 h2 {
    font-size: 18px;
    line-height: 0px;
}
.sec3 .hoemFbox {
    margin-top: 0px;
    margin-bottom: 10px;
}
footer .footbx1 h3 {
    font-size: 25px;
    line-height: 26px;
    padding-bottom: 0px;
}
footer {
    padding: 20px 0px;
}
.innerpage h2 {
    line-height: 25px;
    font-size: 17px;
}

.listing li, .listng li {
    font-size: 13px;
}

header a.hmTel {
    color: #fff;
    font-family: "palanquinbold";
    font-size: 12px;
    line-height: 22px;
  
    background: url(../images/call.png) no-repeat left 5px center;
}
.menuD {
    margin-top: 6px;
}
.mobtxt a {
    text-align: left;
    font-size: 12px;height: 42px;
}
header .flt-left {
    margin: 6px 0 15px;
}
.mobtxt a span {
    font-size: 12px;
}
.mobtxt {
    width: 120px;
    margin-left: -60px;
}
header a.hmTel {
    margin-top: 0;
    font-size: 14px !important;
    padding: 6px 9px 6px 31px !important;
}
.sec3 .hoemFbox h3 {
    padding: 10px 15px;
    font-size: 14px;
}
footer .footbx4 h4 {
    font-size: 12px;
}
footer .footbx5 h4 {
    font-size: 12px;
}
footer .footbx5 {
    width: 37%;
}
.footbx4 {
    width: 37%;
}
footer .footbx3 p {
    margin-bottom: 20px;
}
.sec6 .clitS img {
    max-height: 78px;
}
.innerpage .galleryMain .galleryRight .glryTitl:after {
    content: "";
    height: 2px;
    width: 70px;
    background: #f60;
    position: absolute;
    bottom: -6px;
    right: 38%;
    left: inherit;
}
.sec2 ul li {
    
    font-size: 13px !important;
}
.aniPos .mobtxt {
    margin-left: -61px;
    width: 120px;
}
.sec3 .hoemFbox:nth-child(4) h3 {
    padding: 10px 47px;
}
.sec5 .secTestmonial h2 {
    
    font-size: 21px;
    
    padding-top: 10px;
}
.sec5 .secTestmonial .testSubhead {
    text-align: center;
    font-size: 14px;
}
.sec5 .secTestmonial .testCovr li {
    
    font-size: 12px;
}
.sec5 .secTestmonial .testCovr li small {
    font-size: 13px;
    
    padding-bottom: 10px;
}
.testCovr img {
    width: 40%;
}
.sec5 .secTestmonial .testCovr li {
    margin-bottom: 10px;
}

}
