ul.sub-menu a {
  font-size: 16px !important; }

.aniPos ul.sub-menu a {
  font-size: 14px !important; }

.current_page_item a, .current-menu-item a {
  color: $white !important;}

 
  

.current_page_item a:hover, .current_page_item li a:hover, .current-menu-item a:hover {
  color: $white !important; }

footer .current_page_item a, footer .current-menu-item a {
  background: none;border-bottom: 4px solid $opacity !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: $white !important; }

.sitmpee .current_page_item a {
  color: inherit !important; }

footer .current_page_item a:hover, footer .current-menu-item a:hover {
  background: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: $orange !important; }

.current_page_item li a {
  color: $white !important;
  background: none; }

a.menu-link {
  color: $black;
  display: block;
  text-decoration: none;
  height: 22px;
  width: 35px; }

.menu-link:hover span {
  border-color: $blacklightDark; }

.menu, .menu > ul, .menu > ul ul {
  clear: both;
  flex-flow: column; }

.menu.active1 {
  background: $black;
  border-bottom: 1px solid $dgreen;
  border-top: 1px solid $dgreen;
  margin: 1em 0 1em -12px;
  max-height: 55em;
  width: 100vw; }

.js .menu > ul ul.active1 {
  margin: 0;
  max-height: 55em;
  padding: 0; }

.menu > ul {
  padding: 0; }

nav li {
  display: inline-block;
  margin: 0;
  position: relative; }
  nav > ul > li {margin: 0 29.8px; }  
  nav > ul > li:first-child {margin-left: 0 ; 
  a{
    padding-left: 0;
  }
  }  
  nav > ul > li:last-child {margin-right: 0 ; 
    a{
      padding-right: 0;
    }
   }  
 
li.contactMenu a {
    padding: 8px 20px !important;
    border: 3px $green solid;
    &:hover{background:$green;color:$white !important;}
}
li.contactMenu a:before, li.contactMenu a:hover:before {
    display: none
}
li.contactMenu {
    margin-left: 12px !important;float: right;
}
.menu li a {
  color: $white;
    display: inline-block;
    font-size: 20px;
    line-height: 33px;
    padding: 9px 0 10px;
    text-decoration: none;
    white-space: nowrap; font-family: $palanquin-Bd; text-decoration: none;
}

li.menu-item-has-children a {
  padding-right: 23px !important; }

.menu > ul > li:last-child a {
  padding-right: 0; }

span.has-subnav {
  display: block;
  color: $white;
  font-size: 1em;
  line-height: 34px;
  position: absolute;
  padding: 0 0.5em;
  cursor: pointer;
  right: 7px;
  top: -2px;
  width: 30px;
  height: 30px;}

/*===============  Navigation Toggle  ===================*/
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  position: absolute;
  display: block;
  content: ''; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  background: $orange; }

#nav-toggle span::before {
  top: 8px; }

#nav-toggle span:after {
  bottom: -16px; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out; }

#nav-toggle.active1 span {
  background-color: transparent; }

#nav-toggle.active1.active1 span::before, #nav-toggle.active1.active1 span::after {
  top: 11px; }

#nav-toggle.active1 span:before, #nav-toggle.active1 span:after {
  top: 0; }

#nav-toggle.active1 span:before {
  transform: rotate(45deg); }

#nav-toggle.active1 span:after {
  transform: rotate(-45deg); }

.menuD{text-align: center;float: left;}
li.nav-current a {
  color:$orange;
}

@media screen and (min-width: 875px) {
  /*############################ Menu ##############*/
  a.menu-link {
    display: none; }

  .js .menu, .js .menu > ul ul {
    max-height: none;
    overflow: visible; }

  .js .menu > ul li:hover > ul {
    display: flex;transform: translate3d(0, 0, 0);-webkit-transform: translate3d(0, 0, 0); }

  .menu ul {
    float: right;    width: 100%;
    margin: 0;
    padding: 0; }

  nav > ul > li:last-child {
    padding-right: 0; }

  .menu > ul > li > a {
    position: relative; 
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 12px;
      right: 0;
      background: $opacity;
      height: 2px;
  }
  &:hover:before {
    background: $white;

  
}
  }
.menu > ul > li.current_page_item > a{
  &:before{
    background: $white;
  }
}
   

  .menu span.has-subnav {
    width: 10px;
    height: 9px;
    background: url(../images/dwarow.png) no-repeat center bottom;
    position: absolute;
    right: -2px;
    top:25px;
    text-indent: -9999px;
    padding: 0; }

  .menu li a:hover {
    color: $white; }

    

  .menu ul ul {
    border-radius: 0px 0px 5px 5px;
    border-bottom: solid 1px transparent;
    display: none;
    height: auto;
    overflow: hidden;
    padding: 4px 0 0;
    position: absolute;
    text-align: left;
    left: 0;right:0;
    top: 48px;
    min-width: 195px;
    z-index: 999;  transition: all 0.25s;  transform: translate3d(0, 13px, 0);
    -webkit-transform: translate3d(0, 13px, 0);
}
.aniPos .menu ul ul {top: 28px;}
.aniPos .menu span.has-subnav {  width: 20px;  height: 6px;  top: 20px;}

  .chrome .js .menu > ul ul {
    top: 43px; }

  .menu ul ul.wide {
    width: 300px; }

  .menu ul ul li {
        border-bottom: solid 1px $blacklight;
    display: inline-block;padding:0 11px;
    position: relative;
    background: $blacklight; 
  &:hover{
    background: $orange; 
  }
  }
  .menu ul ul li a {color: #fff;}
  .menu > ul ul li:last-child {
    border-bottom: none; }

  .menu ul ul li a {
    display: block;  
    padding: 6px 0; font-size: 18px; line-height: 23px;   }
  
.aniPos .menu li a {font-size: 15px;padding: 10px 0;}
.aniPos .menu li li a { font-size: 12px;}
.aniPos nav > ul > li {
    margin: 0 37px;
}


  /*Menu ends*/ }
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1230px) {
nav > ul > li {margin: 0 29px;}
.aniPos nav > ul > li {margin: 0 31px;}

.aniPos .menu span.has-subnav {top: 20px;}



}

@media screen and (max-width: 1184px) {
  nav>ul>li {
    margin: 0 15px;
}
.aniPos nav > ul > li {margin: 0 8px;}
.menu li a {font-size: 17px;}
.aniPos .menu li a {font-size: 15px;}


}

@media screen and (max-width: 1090px) {
.menu li a {font-size: 17px;}
.menu span.has-subnav {right: -4px;top: 21px;height: 7px;}
.aniPos .menu span.has-subnav {
  top: 20px;
}
.aniPos .menu li a { font-size: 13px;}
nav > ul > li {margin: 0 18px;}
.aniPos nav>ul>li {
  margin: 0 27px;
}

}

@media screen and (max-width: 1023px) {
  .menu li a {
    font-size: 16px;
}
.aniPos nav>ul>li {
  margin: 0 9px;
}
nav > ul > li {margin: 0 9px;}

}
@media screen and (max-width: 995px) {
 
  nav > ul > li {
    margin: 0 5px;
}
.aniPos nav > ul > li {
    margin: 0 4px;
}
.menu li a {font-size: 15px;}
.aniPos .menu li a { font-size: 14px;}


}

@media screen and (max-width: 874px) {
  .menu li a {
    font-size: 13px;
    padding: 3px 10px !important;
}

  .aniPos .menu span.has-subnav {
    top: 11px;
}
.aniPos ul.sub-menu a {
  font-size: 12px !important;
}
  .menuD {
    float: right;text-align: left;
    width: 100%;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav > ul > li, li.contactMenu {
    margin: 0 0 !important;
}
li.contactMenu a {
    padding:5px 15px !important;
    border: 1px #fff solid;
}
.menu span.has-subnav {
        right: 15px;
    height: 20px;
    top: 6px;
}
  .menu.active1 {
    right: 0; }

  .aniPos .menu {
    top: 109px; }

  .menu {
    z-index: 999999 !important;
    right: 0;
    margin: 0 0 0 !important;
    position: absolute;
    top: 126px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    width: 100%; }

  span.has-subnav {
    text-indent: -99999px;
    background: url(../images/dwarow.png) no-repeat 50% 50%;
    top: 6px; }

  a.menu-link {
    float: right;margin-right: 15px;
}

  .menu, .menu > ul ul {
    margin: 0;
    max-height: 0;
    overflow: hidden; }

  .menu li a {
    border-bottom: 1px solid $dgreen;
    display: block;
    padding: 5px 15px;
    color: $white; }

  .menu li li a {
    padding-left: 27px;    font-size: 17px; }

  .menu li:last-child a {
    border: none; }

  .menu li li:last-child a {
    border-bottom: 1px solid $lightBlue; }

  .menu li:hover {
    background: $dgreen; }

  .current_page_item a:hover, .current_page_item li a:hover, .current-menu-item a:hover {
    color: $white !important; }

  /*Menu Ends*/
  .navigate .menu-item-has-children > span {
    display: block;
    right: 2%;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 8px;
    cursor: pointer; }

  .navigate .menu-item-has-children:hover > ul {
    display: none; }

  .menu ul li {
    background:$blacklight;
    display: block;
    float: left;
    padding: 0 0;
    width: 100%; }

  .sub-menu {
    float: left;
    margin: 0;
    padding: 0;
    position: inherit;
    top: inherit;
    width: 100% !important; }

  .sub-menu li {
    width: 100%;
    padding: 0%; }

  .menu li a {
    font-size: 20px; }

  .sub-menu li a {
    border-bottom: 1px solid $dgreen !important;
    font-size: 12px !important;
    padding: 0px 32px !important;
    width: 100%; }

  .sub-menu ul li {
    background: none repeat scroll 0 0 $blacklightDark;
    display: block;
    padding: 16px 10px; }

  .sub-menu .sub-menu {
    float: left;
    position: static;
    padding: 0;
    margin: 0; }

  .sub-menu .sub-menu li {
    padding: 0;
    margin: 0; }

  .sub-menu .sub-menu li a {
    padding-left: 9% !important;
    background: #414141; }

  .sub-menu .menu-item-has-children a {
    background-image: none; }

  .sub-menu .menu-item-has-children a:hover {
    background-image: none; }

  .sitmpee .sub-menu li a {
    background-position: 0 1px;
    font-size: 16px !important;
    line-height: inherit !important;
    padding: 0 22px !important; }

  .sitmpee .sub-menu li a:hover {
    background-position: 0 1px !important; }

  .sitmpee li a {
    font-size: 16px;
    background-position: 0 2px; }

  .sitmpee li a:hover {
    font-size: 16px;
    background-position: 0 2px; } }
@media screen and (max-width: 767px) {
  .menuD {
    padding: 0;
    background: $white;
}
  a.menu-link {
    
}
  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    background: $orange; }
  .aniPos ul.sub-menu a {
    font-size: 14px !important;
}
  header {
    .logoRgt {
      .hdrRgtTop {
    float: right;
  }
  .hdrRgtTop {
    .hdrEmail {
    float: right;
    color: $white;
    margin: 0;
    font-size: 16px;
}
}
}
}
  a.menu-link.active1{margin-top: -2px;}
  .menu {
    top: 202px;    text-align: left; }
    .aniPos .menu {
    top: 202px;
}
    .menu li a {
      color: $white; }

   }

@media screen and (max-width: 479px) {
  a.menu-link.active1 {
    margin-top: -2px;
}
.menu {
    top:127px;
    text-align: left;
}
  .aniPos {
    .menu {top:47px;}
    a.menu-link {top: 31px;}
}
.aniPos .menuD { padding-top: 0;}

}

@media screen and (max-width: 359px) {
.menu {top: 114px;}
.aniPos .menu {
  top: 114px;
}
  }
/*# sourceMappingURL=menu.css.map */
